.card {
  overflow: hidden;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  background: var(--white);
  height: 440px;
  border-radius: 4px;

  @media screen and (min-width: 1024px) {
    &:hover{
      .card__content{
        bottom: 0px;
      }
    }
  }

  &__img {
    height: 345px;
  }

  &__content {
    @include flex-direction-col-cent;
    text-align: center;
    padding: 16px 25px 24px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    transition: 0.3s;
    background: var(--white);
  }

  &__title {
    margin-bottom: 5px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__btn {
    padding: 14px 32px;
    font-size: 14px;
  }
}

