
.form-field {
  @include flex-direction-col;

  &--big{
    flex-grow: 1;
    .form-field__input{
    }
  }

  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-800);
    margin-bottom: 5px;
  }

  &__input {
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    padding: 12px 16px;
    background: var(--gray-200);
    width: 100%;
  }

  &__btn {
    padding: 14px 30px;
  }
}
