.hero {
  padding-top: 218px;
  padding-bottom: 353px;
  background: rgba(30, 33, 44, 0.6) url(../img/bg-image.jpg) no-repeat  center / cover;

  &__content{
    max-width: 590px;
  }

  &__buttons {
    @include flex-v-center;
    gap: 20px;
    margin-top: 60px;
  }
}
