.services-section {
  background-color: var(--gray-200);
  background-image: url(../img/services-section-bg.jpg);
  padding-top: 212px;
  padding-bottom: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

