<header class="header header--main">
  <div class="header__container container">
    <div class="header__logo logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="130" height="22" alt="CreateX">
    </div>

    <nav class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Work</a></li>
        <li class="nav__item"><a href="#" class="nav__link">News</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>

    <div class="header-contacts">
      <a target="_blank"  href="tel:4055550128" class="header-contacts__link contacts-link contacts-link--phone">
        <span class="contacts-link__captcha">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
      <a target="_blank"  href="mailto:hello@createx.com" class="header-contacts__link contacts-link contacts-link--chat">
        <span class="contacts-link__captcha">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>
  </div>
</header>
