<div class="mission section-offset">
  <div class="container">
    <h2 class="title title--center">Our core values</h2>
    <p class="descr descr--center">Our mission is to set the highest standards for construction sphere.</p>

    <ul class="mission__items list-reset">
      <li class="mission__item mission__item--quality">
        <h3 class="mission__title sub-title--center ">Quality</h3>
        <p class="mission__descr sub-descr sub-descr--center">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="mission__item mission__item--safety">
        <h3 class="mission__title sub-title--center">Safety</h3>
        <p class="mission__descr sub-descr sub-descr--center">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="mission__item mission__item--comfort">
        <h3 class="mission__title sub-title--center">Comfort</h3>
        <p class="mission__descr sub-descr sub-descr--center">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</div>
