<section class="partners">
  <div class="container">
    <h2 class="title title--center">Supported by 12+ partners</h2>
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <img src="img/partners/partrners-1.png" width="120" height="64" alt="img">
      </li>
      <li class="partners__item">
        <img src="img/partners/partrners-2.png" width="120" height="64" alt="img">
      </li>
      <li class="partners__item">
        <img src="img/partners/partrners-3.png" width="120" height="64" alt="img">
      </li>
      <li class="partners__item">
        <img src="img/partners/partrners-4.png" width="120" height="64" alt="img">
      </li>
      <li class="partners__item">
        <img src="img/partners/partrners-5.png" width="120" height="64" alt="img">
      </li>
      <li class="partners__item">
        <img src="img/partners/partrners-6.png" width="120" height="64" alt="img">
      </li>
    </ul>
  </div>
</section>
