<section class="reviews">
  <div class="container">
    <div class="reviews__items">
      <div class="swiper slider-reviews">
        <div class="swiper-wrapper">
          <div class="swiper-slide slider-reviews__slide">
            <h2 class="title slider-reviews__title">What our clients are saying</h2>
            <div class="slider-reviews__img">
              <img src="img/profile-image.png" alt="img">
            </div>
            <p class="slider-reviews__text">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco.
            </p>
            <span class="slider-reviews__name">Shawn Edwards</span>
            <span class="slider-reviews__name-position">Position, Company name</span>
          </div>
          <div class="swiper-slide slider-reviews__slide">
            <h2 class="title slider-reviews__title">What our clients are saying</h2>
            <div class="slider-reviews__img">
              <img src="img/profile-image.png" alt="img">
            </div>
            <p class="slider-reviews__text">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco.
            </p>
            <span class="slider-reviews__name">Shawn Edwards</span>
            <span class="slider-reviews__name-position">Position, Company name</span>
          </div>
          <div class="swiper-slide slider-reviews__slide">
            <h2 class="title slider-reviews__title">What our clients are saying</h2>
            <div class="slider-reviews__img">
              <img src="img/profile-image.png" alt="img">
            </div>
            <p class="slider-reviews__text">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco.
            </p>
            <span class="slider-reviews__name">Shawn Edwards</span>
            <span class="slider-reviews__name-position">Position, Company name</span>
          </div>
          <div class="swiper-slide slider-reviews__slide">
            <h2 class="title slider-reviews__title">What our clients are saying</h2>
            <div class="slider-reviews__img">
              <img src="img/profile-image.png" alt="img">
            </div>
            <p class="slider-reviews__text">
              Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco.
            </p>
            <span class="slider-reviews__name">Shawn Edwards</span>
            <span class="slider-reviews__name-position">Position, Company name</span>
          </div>
        </div>
        <div class="slider-reviews__slider-nav slider-nav">
          <div class="slider-nav__buttons">
            <button class="btn-reset slider-nav__btn slider-reviews__prev slider-btn">
              <svg>
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </button>
            <button class="btn-reset slider-nav__btn slider-reviews__next slider-btn" >
              <svg>
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="reviews__image">
        <picture>
          <source srcset="img/reviews-image.jpg" type="image/webp">
          <img loading="lazy" src="img/reviews-image.jpg" class="image" width="495" height="550" alt="img">
        </picture>
      </div>
    </div>

  </div>
</section>
