<section class="services-section section-offset">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="descr descr--center">Createx Construction Bureau is a construction giant with a full range of construction services.</p>

    <ul class="services-section__items list-reset">
      <li class="services-section__item">
        <a href="#" class="services-item ">
          <div class="services-item__image">
            <picture>
              <source srcset="img/services-section-image.webp" type="image/webp">
              <img loading="lazy" src="img/services-section-image.jpg" class="image" width="285" height="285" alt="services-img">
            </picture>
          </div>
          <div class="services-item__content">
            <svg class="services-item__icon">
              <use xlink:href="img/sprite.svg#ic-construction"></use>
            </svg>
            <h3 class="services-item__title subtitle subtitle--center ">Construction</h3>
          </div>
        </a>
      </li>

      <li class="services-section__item">
        <a href="#" class="services-item ">
          <div class="services-item__content">
            <svg class="services-item__icon">
              <use xlink:href="img/sprite.svg#ic-plan"></use>
            </svg>
            <h3 class="services-item__title subtitle subtitle--center ">Project Development</h3>
          </div>
        </a>
      </li>

      <li class="services-section__item">
        <a href="#" class="services-item ">

          <div class="services-item__image">
            <picture>
              <source srcset="img/services-section-image.webp" type="image/webp">
              <img loading="lazy" src="img/services-section-image.jpg" class="image" width="285" height="285" alt="services-img">
            </picture>
          </div>

          <div class="services-item__content">
            <svg class="services-item__icon">
              <use xlink:href="img/sprite.svg#ic-pantone"></use>
            </svg>
            <h3 class="services-item__title subtitle subtitle--center ">Interior Design</h3>
          </div>
        </a>
      </li>

      <li class="services-section__item">
        <a href="#" class="services-item ">
          <div class="services-item__image">
            <picture>
              <source srcset="img/services-section-image.webp" type="image/webp">
              <img loading="lazy" src="img/services-section-image.jpg" class="image" width="285" height="285" alt="services-img">
            </picture>
          </div>
          <div class="services-item__content">
            <svg class="services-item__icon">
              <use xlink:href="img/sprite.svg#ic-painting"></use>
            </svg>
            <h3 class="services-item__title subtitle subtitle--center ">Repairs</h3>
          </div>
        </a>
      </li>
    </ul>

    <div class="services-section__learn">
      <h2 class="subtitle-big">Learn more about our services</h2>
      <button class="btn-reset btn btn--fill btn--fill-primary">View services</button>
    </div>
  </div>
</section>
