// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --second-family: "Lato", sans-serif;

  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
	--primary: #ff5a30;
	--success: #03cea4;
	--danger: #ff4242;
	--warning: #f89828;
	--info: #5a87fc;
	--gray-900: #1e212c;
	--gray-800: #424551;
	--gray-700: #787a80;
	--gray-600: #9a9ca5;
	--gray-500: #b3b7bc;
	--gray-400: #d7dadd;
	--gray-300: #e5e8ed;
	--gray-200: #f4f5f6;
	--gray-100: #f9f9f9;
  --color-black: #000;
  --color-light: #fff;
  --color-gray: #424551;
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-primary: #ff5a30;
  --color-athens: #f4f5f7;
  --color-active: #fc3300;

  // sizes
  --grid-gap: 30px;

  // speed
  --hero-slider-speed: 500;

  // stylization
  --main-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
}
